src/jade/index.jade
extends layouts/default

block content
  section.b-page__section.b-tour-slider
    ul.b-tour-slider__slides
      li.b-tour-slider__item
        img(src='http://placehold.it/640x360').b-tour-slider__item__iamge

        .b-tour-slider__item__heading Free Tour #[br] #[div._indent of #[strong Istanbul]]

        .b-tour-slider__item__caption
          | Every day. Meet at Prince Albert Statue by St. George’s Hall
          br
          | Want more details? #[a(href='#') Find them here]

      li.b-tour-slider__item
        img(src='http://placehold.it/640x360').b-tour-slider__item__iamge

        .b-tour-slider__item__heading Food Tour #[br] #[div._indent of #[strong Istanbul]]

        .b-tour-slider__item__caption
          | Every day. Meet at Prince Albert Statue by St. George’s Hall
          br
          | Want more details? #[a(href='#') Find them here]

  // Tour details
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    .b-text-box
      h2.b-text-box__heading Rain or shine, all of our tours run as scheduled
      p.text By booking your place online you can skip the queue at the meeting point and enjoy discounts for multiple tours and for groups. Alternatively, you can just show up at the meeting point if you prefer not to book ahead of time. Just come 10-15 minutes early if you’ve not purchased online.

    .b-text-box
      h2.b-text-box__heading Connecting great guides with smart travelers
      p.text We believe in supporting our local communities and are committed to giving a voice to self-employed guides who have chosen Liverpool as their home. By ensuring that every native English speaking guide represents our unique style of mixing history and story-telling while maintaining their own personality and flair, we’ve become one of the most popular tour companies in the world. Helping superb independent guides connect with thousands of travelers a day, we provide these local freelancers the possibility to inform and entertain you, and they employ us to spread the news about this great concept.

    .b-text-box
      h2.b-text-box__heading How can a Free Tour be one of the best in Europe?
      p.text The answer is simple: because the informed, entertaining, and unforgettable guides on our Free Tours work on a tips-only basis, the highest quality is guaranteed! They’ll never pressure you to tip – even though the guides receive no other compensation from our company or the cities we work in. We believe that if money is given, it should be voluntary and in direct proportion to the quality of the tour and the budget of the traveler. Value for money goes a long way, and satisfied customers tip what they think the tour was worth!


  // Book today
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/book-today

  // Please note
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section.b-text-box
    h2.b-text-box__heading Please Note:
    p.text By booking your place online you can skip the queue at the meeting point and enjoy discounts for multiple tours and for groups. Alternatively, you can just show up at the meeting point if you prefer not to book ahead of time. Just come 10-15 minutes early if you’ve not purchased online.
  
  // Trust
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section.b-trust
    .b-trust__col.b-trust__accomodations
      .b-trust__heading Accommodation #[br] #[strong we trust]

      .b-trust__icon._accomodation

      ul.b-trust-accomodations
        li.b-trust-accomodations__item: a(href='#') Flying Pig Hostels
        li.b-trust-accomodations__item: a(href='#') Meininger Hotel
        li.b-trust-accomodations__item: a(href='#') St Christopher’sInn
        li.b-trust-accomodations__item: a(href='#') Stayokay Hostels
        li.b-trust-accomodations__item: a(href='#') The Bulldog Hotel

    .b-trust__col.b-trust__reviews
      .b-trust__heading Travelers #[br] #[strong speak out]

      .b-trust__icon._reviews

      ul.b-trust-reviews
        li.b-trust-reviews__item
          .b-trust-reviews__item__text AMAZING! Especially forbackpackers on a budget
          .b-trust-reviews__item__src Tripadvisor.com review

        li.b-trust-reviews__item
          .b-trust-reviews__item__text The most charismatic and entertaining guides in Europe
          .b-trust-reviews__item__src Cosmopolitan Magazine, 2005

  // Partners list
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section.b-partner-list
    .b-partner-list__heading Our Partners

    .b-partner-list__items
      .b-partner-list__item: img(src='img/b-partner-list__item-1.png')
      .b-partner-list__item: img(src='img/b-partner-list__item-2.png')
      .b-partner-list__item: img(src='img/b-partner-list__item-3.png')

dest/index.html
<!DOCTYPE html 5><!--[if IE]> <html lang="ru" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ru"><!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/jquery.fancybox.css"/><!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"> </script>
    <script type="text/javascript" src="http://ie.cntrlmrktng.ru/1.0/help.js" charset="UTF-8" async="async"></script><![endif]-->
  </head>
  <body>
    <header class="b-header">
      <div class="b-top-line b-header__top">
        <div class="container">
          <ul class="b-top-line__menu">
            <li class="b-top-line__menu__item _active"><a href="#">Useful Links</a></li>
            <li class="b-top-line__menu__item"><a href="#">Comments</a></li>
            <li class="b-top-line__menu__item"><a href="#">Contact Us</a></li>
            <li class="b-top-line__menu__item"><a href="#">Work with us</a></li>
          </ul>
          <div class="b-top-line__share">Share:<a href="#" class="b-top-line__share__icon _fb"></a><a href="#" class="b-top-line__share__icon _tw"></a><a href="#" class="b-top-line__share__icon _g"></a></div>
        </div>
      </div>
      <div class="b-header__main">
        <div class="container">
          <div class="b-header__logo"><img src="img/b-header__logo.png" class="b-header__logo__image"/><a href="#" class="b-header__logo__heading">Free Tour <br/> <strong>Istanbul</strong></a></div>
          <div class="b-header__heading">Original free walking tour in Istanbul</div>
          <ul class="b-header__menu">
            <li class="b-header__menu__item"><a href="index.html">Home Page</a></li>
            <li class="b-header__menu__item"><a href="#">City Guide</a></li>
            <li class="b-header__menu__item"><a href="#">Daily Tours</a></li>
            <li class="b-header__menu__item"><a href="guides.html">Our Guides</a></li>
            <li class="b-header__menu__item"><a href="private-tours.html">Private Tours</a></li>
            <li class="b-header__menu__item"><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="b-page container">
      <div class="b-page__content">
        <section class="b-page__section b-tour-slider">
          <ul class="b-tour-slider__slides">
            <li class="b-tour-slider__item"><img src="http://placehold.it/640x360" class="b-tour-slider__item__iamge"/>
              <div class="b-tour-slider__item__heading">Free Tour <br/> 
                <div class="_indent">of <strong>Istanbul</strong></div>
              </div>
              <div class="b-tour-slider__item__caption">Every day. Meet at Prince Albert Statue by St. George’s Hall<br/>Want more details? <a href="#">Find them here</a></div>
            </li>
            <li class="b-tour-slider__item"><img src="http://placehold.it/640x360" class="b-tour-slider__item__iamge"/>
              <div class="b-tour-slider__item__heading">Food Tour <br/> 
                <div class="_indent">of <strong>Istanbul</strong></div>
              </div>
              <div class="b-tour-slider__item__caption">Every day. Meet at Prince Albert Statue by St. George’s Hall<br/>Want more details? <a href="#">Find them here</a></div>
            </li>
          </ul>
        </section>
        <!-- Tour details-->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="b-page__section">
          <div class="b-text-box">
            <h2 class="b-text-box__heading">Rain or shine, all of our tours run as scheduled</h2>
            <p class="text">By booking your place online you can skip the queue at the meeting point and enjoy discounts for multiple tours and for groups. Alternatively, you can just show up at the meeting point if you prefer not to book ahead of time. Just come 10-15 minutes early if you’ve not purchased online.</p>
          </div>
          <div class="b-text-box">
            <h2 class="b-text-box__heading">Connecting great guides with smart travelers</h2>
            <p class="text">We believe in supporting our local communities and are committed to giving a voice to self-employed guides who have chosen Liverpool as their home. By ensuring that every native English speaking guide represents our unique style of mixing history and story-telling while maintaining their own personality and flair, we’ve become one of the most popular tour companies in the world. Helping superb independent guides connect with thousands of travelers a day, we provide these local freelancers the possibility to inform and entertain you, and they employ us to spread the news about this great concept.</p>
          </div>
          <div class="b-text-box">
            <h2 class="b-text-box__heading">How can a Free Tour be one of the best in Europe?</h2>
            <p class="text">The answer is simple: because the informed, entertaining, and unforgettable guides on our Free Tours work on a tips-only basis, the highest quality is guaranteed! They’ll never pressure you to tip – even though the guides receive no other compensation from our company or the cities we work in. We believe that if money is given, it should be voluntary and in direct proportion to the quality of the tour and the budget of the traveler. Value for money goes a long way, and satisfied customers tip what they think the tour was worth!</p>
          </div>
        </section>
        <!-- Book today-->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="b-page__section">
          <section class="b-page__section b-book-today">
            <div class="b-book-today__heading">Book your tour today</div>
            <div class="b-book-today__tour"><img src="img/b-book-today__tour__item-1.jpg" class="b-book-today__tour__image"/>
              <div class="b-book-today__tour__desc">
                <div class="b-book-today__tour__title"><a href="tour-details.html">FREE TOUR of <br/> Istanbul</a></div>
                <div class="b-book-today__tour__price"> 
                  <div>€12 Regular</div>
                  <div>€10 Student</div>
                </div><a href="#" data-book-form="data-book-form" class="b-book-today__tour__order-btn btn">Book</a>
              </div>
            </div>
            <div class="b-book-today__tour"><img src="img/b-book-today__tour__item-1.jpg" class="b-book-today__tour__image"/>
              <div class="b-book-today__tour__desc">
                <div class="b-book-today__tour__title"><a href="tour-details.html">FREE TOUR of <br/> Istanbul</a></div>
                <div class="b-book-today__tour__price"> 
                  <div>€12 Regular</div>
                  <div>€10 Student</div>
                </div><a href="#" data-book-form="data-book-form" class="b-book-today__tour__order-btn btn">Book</a>
              </div>
            </div>
            <div class="b-book-today__tour"><img src="img/b-book-today__tour__item-1.jpg" class="b-book-today__tour__image"/>
              <div class="b-book-today__tour__desc">
                <div class="b-book-today__tour__title"><a href="tour-details.html">FREE TOUR of <br/> Istanbul</a></div>
                <div class="b-book-today__tour__price"> 
                  <div>€12 Regular</div>
                  <div>€10 Student</div>
                </div><a href="#" data-book-form="data-book-form" class="b-book-today__tour__order-btn btn">Book</a>
              </div>
            </div>
          </section>
        </section>
        <!-- Please note-->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="b-page__section b-text-box">
          <h2 class="b-text-box__heading">Please Note:</h2>
          <p class="text">By booking your place online you can skip the queue at the meeting point and enjoy discounts for multiple tours and for groups. Alternatively, you can just show up at the meeting point if you prefer not to book ahead of time. Just come 10-15 minutes early if you’ve not purchased online.</p>
        </section>
        <!-- Trust-->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="b-page__section b-trust">
          <div class="b-trust__col b-trust__accomodations">
            <div class="b-trust__heading">Accommodation <br/> <strong>we trust</strong></div>
            <div class="b-trust__icon _accomodation"></div>
            <ul class="b-trust-accomodations">
              <li class="b-trust-accomodations__item"><a href="#">Flying Pig Hostels</a></li>
              <li class="b-trust-accomodations__item"><a href="#">Meininger Hotel</a></li>
              <li class="b-trust-accomodations__item"><a href="#">St Christopher’sInn</a></li>
              <li class="b-trust-accomodations__item"><a href="#">Stayokay Hostels</a></li>
              <li class="b-trust-accomodations__item"><a href="#">The Bulldog Hotel</a></li>
            </ul>
          </div>
          <div class="b-trust__col b-trust__reviews">
            <div class="b-trust__heading">Travelers <br/> <strong>speak out</strong></div>
            <div class="b-trust__icon _reviews"></div>
            <ul class="b-trust-reviews">
              <li class="b-trust-reviews__item">
                <div class="b-trust-reviews__item__text">AMAZING! Especially forbackpackers on a budget</div>
                <div class="b-trust-reviews__item__src">Tripadvisor.com review</div>
              </li>
              <li class="b-trust-reviews__item">
                <div class="b-trust-reviews__item__text">The most charismatic and entertaining guides in Europe</div>
                <div class="b-trust-reviews__item__src">Cosmopolitan Magazine, 2005</div>
              </li>
            </ul>
          </div>
        </section>
        <!-- Partners list-->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="b-page__section b-partner-list">
          <div class="b-partner-list__heading">Our Partners</div>
          <div class="b-partner-list__items">
            <div class="b-partner-list__item"><img src="img/b-partner-list__item-1.png"/></div>
            <div class="b-partner-list__item"><img src="img/b-partner-list__item-2.png"/></div>
            <div class="b-partner-list__item"><img src="img/b-partner-list__item-3.png"/></div>
          </div>
        </section>
      </div>
      <aside class="b-page__sidebar b-sidebar">
        <section class="b-sidebar__section">
          <div class="b-sidebar-tour b-sidebar-tour_primary _active">
            <div class="b-sidebar-tour__wrapper">
              <div class="b-sidebar-tour__toggle"><strong>Free Tour</strong> of Istanbul</div>
              <div class="b-sidebar-tour__info">
                <div class="b-sidebar-tour__heading">Absolutely free</div>
                <div class="b-sidebar-tour__text"><strong>1:00am</strong> &amp; <strong>1:00pm</strong> every day, <br/> see <a href="#">meeting point</a></div>
                <div class="b-sidebar-tour__actions"><a href="#" data-book-form="data-book-form" class="b-sidebar-tour__btn b-sidebar-tour__btn_order btn">Book Now</a><a href="#" class="b-sidebar-tour__btn b-sidebar-tour__btn_more btn">Learn More</a></div>
              </div>
            </div>
          </div>
          <div class="b-sidebar-tour b-sidebar-tour_secondary">
            <div class="b-sidebar-tour__wrapper">
              <div class="b-sidebar-tour__toggle"><strong>Free Tour</strong> of Istanbul</div>
              <div class="b-sidebar-tour__info">
                <div class="b-sidebar-tour__heading">Absolutely free</div>
                <div class="b-sidebar-tour__text"><strong>1:00am</strong> &amp; <strong>1:00pm</strong> every day, <br/> see <a href="#">meeting point</a></div>
                <div class="b-sidebar-tour__actions"><a href="#" data-book-form="data-book-form" class="b-sidebar-tour__btn b-sidebar-tour__btn_order btn">Book Now</a><a href="#" class="b-sidebar-tour__btn b-sidebar-tour__btn_more btn">Learn More</a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="b-sidebar-review b-sidebar__section"><img src="img/b-sidebar-review-1.jpg" class="b-sidebar-review__image"/>
          <div class="b-sidebar-review__heading"><a href="#">Review us on <br/> <strong>TripAdvisor</strong></a></div>
          <p class="text b-sidebar-review__text">
             
            Help spread the word <br/>by reviewing us now, <br/>or check out what <br/>others have said <br/>about us.
          </p>
        </section>
        <section class="b-sidebar-guides b-sidebar__section">
          <div class="b-sidebar-guides__heading">Home of the Famous <br/> <strong class="_bold">Istambul Free Tour</strong> <br/> with some of the <strong class="_medium">best guides</strong> <br/> in the business</div>
          <div class="b-sidebar-guides__items">
            <div class="b-sidebar-guides__item"> <img src="img/b-sidebar-guides__item-1.jpg" class="b-sidebar-guides__item__image image _rounded"/>
              <div class="b-sidebar-guides__item__name">William</div>
            </div>
            <div class="b-sidebar-guides__item"> <img src="img/b-sidebar-guides__item-1.jpg" class="b-sidebar-guides__item__image image _rounded"/>
              <div class="b-sidebar-guides__item__name">William</div>
            </div>
            <div class="b-sidebar-guides__item"> <img src="img/b-sidebar-guides__item-1.jpg" class="b-sidebar-guides__item__image image _rounded"/>
              <div class="b-sidebar-guides__item__name">William</div>
            </div>
          </div>
        </section>
        <section class="b-sidebar-media b-sidebar__section">
          <div class="b-sidebar-media__wrapper">
            <div class="b-sidebar-media__item">
              <div class="b-sidebar-media__item__image"><a href="#"><img src="img/b-sidebar-media__item-1.png"/></a></div>
              <p class="b-sidebar-media__item__text">Watch <strong>our video</strong> to see <br/> what a Free Tour of Istanbul <br/> is all about</p>
            </div>
            <div class="b-sidebar-media__item">
              <div class="b-sidebar-media__item__image"><a href="#"><img src="img/b-sidebar-media__item-2.png"/></a></div>
              <p class="b-sidebar-media__item__text"> New in town? Download <strong>our FREE map</strong> of the city and<br/>find your way to some of the<br/>best spots in town. All of our<br/>start points are clearly labeled<br/>to help you find us.</p>
            </div>
          </div>
        </section>
        <section class="b-sidebar-facebook b-sidebar__section"></section>
      </aside>
    </div>
    <footer class="b-footer">
      <div class="container">
        <div class="b-footer__logo"><img src="img/b-footer__logo.png"/></div>
        <div class="b-footer__col">
          <div class="b-footer__heading"><span>Free Tour</span> <strong>Istanbul</strong></div>
          <p class="b-footer__text">© 2010–2015 Free Tour Instambul GmbH. <br/> All rights reserved</p>
          <p class="b-footer__text b-footer__text_contacts">Milastr. 2, D-10437 Berlin, Germany<br/>Tel: +49 30 510 50030 Fax: +49 30 690 88035</p>
        </div>
        <div class="b-footer__col">
          <div class="b-footer__heading"><span>Director</span> <strong>Chris Sandeman</strong></div>
          <p class="b-footer__text">
             
            Site maintained by SANDEMANs NEW Europe GmbH<br/>Milastrasse 2 D-10437 Berlin Germany 
          </p>
          <p class="b-footer__text b-footer__text_contacts">Tel: +49 30 510 50030<br/>Fax: +49 30 690 88035</p>
        </div>
        <div class="b-footer__col"><a href="#" class="b-footer__link">Privacy Policy</a><a href="#" class="b-footer__link">Legal Statement</a></div>
      </div>
    </footer>
        <div class="b-book-form b-book-form_modal">
          <div class="b-book-form__wrapper">
            <form action="#" class="b-book-form__form">
              <h2 class="b-book-form__heading"><small>Select the start time</small> <br/> free tour of istanbul</h2>
              <div class="b-book-form__time">
                <div class="b-book-form__time__item _checked">
                  <input type="radio" name="time" value="11:00" class="b-book-form__time__radio"/><a href="#" class="b-book-form__time__btn btn btn_secondary">11:00 <sup>am</sup></a>
                </div>
                <div class="b-book-form__time__item">
                  <input type="radio" name="time" value="1:00" class="b-book-form__time__radio"/><a href="#" class="b-book-form__time__btn btn btn_secondary">1:00 <sup>pm</sup></a>
                </div>
              </div>
              <div class="b-book-form__line"> </div>
              <h3 class="b-book-form__heading">Personal info</h3>
              <div class="b-book-form__fields">
                <div class="form-field b-book-form__field">
                  <label class="form-field__label">Name<sup>*</sup></label>
                  <input type="text" class="form-field__input form-input"/>
                </div>
                <div class="form-field b-book-form__field _travelers">
                  <label class="form-field__label">Travelers<sup>*</sup></label>
                  <select class="form-select js-form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="form-field b-book-form__field">
                  <label class="form-field__label">E-mail<sup>*</sup></label>
                  <input type="text" class="form-field__input form-input"/>
                </div>
                <div class="form-field b-book-form__field">
                  <label class="form-field__label">Date<sup>*</sup></label>
                  <input type="text" class="form-field__input form-input"/>
                </div>
              </div>
              <button type="submit" class="btn btn_primary _size_l b-book-form__order-btn">Book now</button>
              <div class="b-book-form__or"><a href="#">Learn more</a></div>
            </form>
          </div>
        </div>
    <!-- === Scripts ============================================================ -->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/jquery.fancybox.pack.js"></script>
    <script src="js/vendor/jquery.formstyler.min.js"></script>
    <script src="js/vendor/jquery.bxslider.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
