dest/tour-details.html
<!DOCTYPE html 5><!--[if IE]> <html lang="ru" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ru"><!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/jquery.fancybox.css"/><!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"> </script>
    <script type="text/javascript" src="http://ie.cntrlmrktng.ru/1.0/help.js" charset="UTF-8" async="async"></script><![endif]-->
  </head>
  <body>
    <header class="b-header">
      <div class="b-top-line b-header__top">
        <div class="container">
          <ul class="b-top-line__menu">
            <li class="b-top-line__menu__item _active"><a href="#">Useful Links</a></li>
            <li class="b-top-line__menu__item"><a href="#">Comments</a></li>
            <li class="b-top-line__menu__item"><a href="#">Contact Us</a></li>
            <li class="b-top-line__menu__item"><a href="#">Work with us</a></li>
          </ul>
          <div class="b-top-line__share">Share:<a href="#" class="b-top-line__share__icon _fb"></a><a href="#" class="b-top-line__share__icon _tw"></a><a href="#" class="b-top-line__share__icon _g"></a></div>
        </div>
      </div>
      <div class="b-header__main">
        <div class="container">
          <div class="b-header__logo"><img src="img/b-header__logo.png" class="b-header__logo__image"/><a href="#" class="b-header__logo__heading">Free Tour <br/> <strong>Istanbul</strong></a></div>
          <div class="b-header__heading">Original free walking tour in Istanbul</div>
          <ul class="b-header__menu">
            <li class="b-header__menu__item"><a href="index.html">Home Page</a></li>
            <li class="b-header__menu__item"><a href="#">City Guide</a></li>
            <li class="b-header__menu__item"><a href="#">Daily Tours</a></li>
            <li class="b-header__menu__item"><a href="guides.html">Our Guides</a></li>
            <li class="b-header__menu__item"><a href="private-tours.html">Private Tours</a></li>
            <li class="b-header__menu__item"><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="b-page container">
      <div class="b-page__content">
        <!-- Tour details-->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="b-page__section b-tour-details">
          <section class="b-photo-slider">
            <ul class="b-photo-slider__slides">
              <li class="b-photo-slider__item"><img src="http://placehold.it/660x380&amp;text=Slide 1" class="b-photo-slider__item__image"/></li>
              <li class="b-photo-slider__item"><img src="http://placehold.it/660x380&amp;text=Slide 2" class="b-photo-slider__item__image"/></li>
              <li class="b-photo-slider__item"><img src="http://placehold.it/660x380&amp;text=Slide 3" class="b-photo-slider__item__image"/></li>
            </ul>
          </section>
          <section class="b-page__section">
            <h1 class="page-heading _size_l"><span>Free Tour of <strong>Istanbul</strong></span></h1>
            <blockquote class="quote">Against the backdrop of the ‘New York of Britain’ this is an unmissable insight into the spirit of a city that thas endured terrible depths and enjoyed glorious heights. This 3 hour walking tour brings to life the famous and surprising key moments in Liverpool’s rich past.</blockquote>
            <div class="b-tour-share">
              <div class="b-tour-share__wrapper">
                <div class="b-tour-share__text _1">If you liked the <br/> Free tour of Istanbul</div>
                <ul class="b-tour-share__icon-list">
                  <li class="b-tour-share__icon-list__item"><a href="#" class="b-tour-share__icon _fb"></a></li>
                  <li class="b-tour-share__icon-list__item"><a href="#" class="b-tour-share__icon _tw"></a></li>
                  <li class="b-tour-share__icon-list__item"><a href="#" class="b-tour-share__icon _g"></a></li>
                  <li class="b-tour-share__icon-list__item"><a href="#" class="b-tour-share__icon _in"></a></li>
                  <li class="b-tour-share__icon-list__item"><a href="#" class="b-tour-share__icon _mail"></a></li>
                </ul>
                <div class="b-tour-share__text _2">tell a friends</div><a href="#" data-book-form="data-book-form" class="btn btn_secondary _size_l b-tour-share__order-btn _bold">Book Now</a>
                <div class="b-tour-share__note"><a href="#">You may be eligible for <br/> a special reduction</a></div>
              </div>
            </div>
            <p class="text">Liverpool has played a key role in British and world history for over 800 years. As the main port of the biggest empire in history it has touched the lives of countless people the world over. This has given the city a wealth of great buildings and a legendary friendly and diverse population summed up in the famous nickname ‘The World in One City’.</p>
            <p class="text">From The Beatles and eccentric WWII submarine hunters to Confederate captains and repentant slave traders, Liverpool’s history is full of amazing characters and fascinating stories. The UNESCO World Heritage listed waterfront with its incredible collection of maritime and commercial architecture is enriched with exciting new developments and is home to some of the most popular museums and galleries in the country.</p>
          </section>
          <section class="b-page__section b-tour-map">
            <h2 class="page-heading _size_m"><span>Start point map</span></h2>
            <p class="text">
               
              Meet your guide outside St. George’s Hall by the Prince Albert Statue. Just look for the guides in red SANDEMANs NEW 
              Europe T-shirts and badges!
            </p><img src="img/b-tour-map__wrapper.jpg" class="b-tour-map__wrapper"/>
          </section>
          <section class="b-page__section">
            <h2 class="page-heading _size_m"><span>How to Get to the meeting point</span></h2>
            <p class="text">1. Get to the Admiralteyskaya metro station (Purple Line).</p>
            <p class="text">2. Go to Palace Square (cross the Nevsky Prospect — main Avenue).</p>
            <p class="text">
               
              3. Find the Alexander Column in the center of the Palace Square (see how it looks). This column devoted to the Emperor 
              Alexander the I who won the war over Napoleon! The guide will wait for you near this monument. Please choose the side of 
              the column which faces the Winter Palace.
            </p>
          </section>
          <section class="b-page__section b-tour-place-list">
            <h2 class="page-heading _size_m"><span>On this 3 hour tour we cover</span></h2>
            <div class="b-tour-places__item">
              <div class="b-tour-places__item__image"><img src="img/tour-places/1.png"/></div>
              <div class="b-tour-places__item__title">Hagia Sophia</div>
            </div>
            <div class="b-tour-places__item">
              <div class="b-tour-places__item__image"><img src="img/tour-places/2.png"/></div>
              <div class="b-tour-places__item__title">Haseki Hurrem <br/> Bath</div>
            </div>
            <div class="b-tour-places__item">
              <div class="b-tour-places__item__image"><img src="img/tour-places/3.png"/></div>
              <div class="b-tour-places__item__title">Blue Mosque</div>
            </div>
            <div class="b-tour-places__item">
              <div class="b-tour-places__item__image"><img src="img/tour-places/4.png"/></div>
              <div class="b-tour-places__item__title">German Fountain</div>
            </div>
            <div class="b-tour-places__item">
              <div class="b-tour-places__item__image"><img src="img/tour-places/5.png"/></div>
              <div class="b-tour-places__item__title">German Fountain</div>
            </div>
            <div class="b-tour-places__item">
              <div class="b-tour-places__item__image"><img src="img/tour-places/1.png"/></div>
              <div class="b-tour-places__item__title">Hagia Sophia</div>
            </div>
            <div class="b-tour-places__item">
              <div class="b-tour-places__item__image"><img src="img/tour-places/2.png"/></div>
              <div class="b-tour-places__item__title">Haseki Hurrem <br/> Bath</div>
            </div>
            <div class="b-tour-places__item">
              <div class="b-tour-places__item__image"><img src="img/tour-places/3.png"/></div>
              <div class="b-tour-places__item__title">Blue Mosque</div>
            </div>
            <div class="b-tour-places__item">
              <div class="b-tour-places__item__image"><img src="img/tour-places/4.png"/></div>
              <div class="b-tour-places__item__title">German Fountain</div>
            </div>
            <div class="b-tour-places__item">
              <div class="b-tour-places__item__image"><img src="img/tour-places/5.png"/></div>
              <div class="b-tour-places__item__title">German Fountain</div>
            </div>
          </section>
          <div class="b-tour-places__more page-heading _size_m"><span><a href="#" class="btn btn_secondary _size_m">and more</a></span></div>
        </section>
        <!-- Book today-->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="b-page__section">
          <section class="b-page__section b-book-today">
            <div class="b-book-today__heading">Book your tour today</div>
            <div class="b-book-today__tour"><img src="img/b-book-today__tour__item-1.jpg" class="b-book-today__tour__image"/>
              <div class="b-book-today__tour__desc">
                <div class="b-book-today__tour__title"><a href="tour-details.html">FREE TOUR of <br/> Istanbul</a></div>
                <div class="b-book-today__tour__price"> 
                  <div>€12 Regular</div>
                  <div>€10 Student</div>
                </div><a href="#" data-book-form="data-book-form" class="b-book-today__tour__order-btn btn">Book</a>
              </div>
            </div>
            <div class="b-book-today__tour"><img src="img/b-book-today__tour__item-1.jpg" class="b-book-today__tour__image"/>
              <div class="b-book-today__tour__desc">
                <div class="b-book-today__tour__title"><a href="tour-details.html">FREE TOUR of <br/> Istanbul</a></div>
                <div class="b-book-today__tour__price"> 
                  <div>€12 Regular</div>
                  <div>€10 Student</div>
                </div><a href="#" data-book-form="data-book-form" class="b-book-today__tour__order-btn btn">Book</a>
              </div>
            </div>
            <div class="b-book-today__tour"><img src="img/b-book-today__tour__item-1.jpg" class="b-book-today__tour__image"/>
              <div class="b-book-today__tour__desc">
                <div class="b-book-today__tour__title"><a href="tour-details.html">FREE TOUR of <br/> Istanbul</a></div>
                <div class="b-book-today__tour__price"> 
                  <div>€12 Regular</div>
                  <div>€10 Student</div>
                </div><a href="#" data-book-form="data-book-form" class="b-book-today__tour__order-btn btn">Book</a>
              </div>
            </div>
          </section>
        </section>
        <!-- Book form-->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="b-page__section">
          <div class="b-book-form">
            <div class="b-book-form__wrapper">
              <form action="#" class="b-book-form__form">
                <h2 class="b-book-form__heading"><small>Select the start time</small> <br/> free tour of istanbul</h2>
                <div class="b-book-form__time">
                  <div class="b-book-form__time__item _checked">
                    <input type="radio" name="time" value="11:00" class="b-book-form__time__radio"/><a href="#" class="b-book-form__time__btn btn btn_secondary">11:00 <sup>am</sup></a>
                  </div>
                  <div class="b-book-form__time__item">
                    <input type="radio" name="time" value="1:00" class="b-book-form__time__radio"/><a href="#" class="b-book-form__time__btn btn btn_secondary">1:00 <sup>pm</sup></a>
                  </div>
                </div>
                <div class="b-book-form__line"> </div>
                <h3 class="b-book-form__heading">Personal info</h3>
                <div class="b-book-form__fields">
                  <div class="form-field b-book-form__field">
                    <label class="form-field__label">Name<sup>*</sup></label>
                    <input type="text" class="form-field__input form-input"/>
                  </div>
                  <div class="form-field b-book-form__field _travelers">
                    <label class="form-field__label">Travelers<sup>*</sup></label>
                    <select class="form-select js-form-select">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="form-field b-book-form__field">
                    <label class="form-field__label">E-mail<sup>*</sup></label>
                    <input type="text" class="form-field__input form-input"/>
                  </div>
                  <div class="form-field b-book-form__field">
                    <label class="form-field__label">Date<sup>*</sup></label>
                    <input type="text" class="form-field__input form-input"/>
                  </div>
                </div>
                <button type="submit" class="btn btn_primary _size_l b-book-form__order-btn">Book now</button>
              </form>
            </div>
          </div>
        </section>
        <!-- Please note-->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="b-page__section">
          <div class="b-text-box">
            <h2 class="b-text-box__heading">Please Note:</h2>
            <p class="b-text-box__text">By booking your place online you can skip the queue at the meeting point and enjoy discounts for multiple tours and for groups. Alternatively, you can just show up at the meeting point if you prefer not to book ahead of time. Just come 10-15 minutes early if you’ve not purchased online.</p>
          </div>
        </section>
        <!-- Trust-->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="b-page__section">
          <div class="b-trust">
            <div class="b-trust__col b-trust__accomodations">
              <div class="b-trust__heading">Accommodation <br/> <strong>we trust</strong></div>
              <div class="b-trust__icon _accomodation"></div>
              <ul class="b-trust-accomodations">
                <li class="b-trust-accomodations__item"><a href="#">Flying Pig Hostels</a></li>
                <li class="b-trust-accomodations__item"><a href="#">Meininger Hotel</a></li>
                <li class="b-trust-accomodations__item"><a href="#">St Christopher’sInn</a></li>
                <li class="b-trust-accomodations__item"><a href="#">Stayokay Hostels</a></li>
                <li class="b-trust-accomodations__item"><a href="#">The Bulldog Hotel</a></li>
              </ul>
            </div>
            <div class="b-trust__col b-trust__reviews">
              <div class="b-trust__heading">Travelers <br/> <strong>speak out</strong></div>
              <div class="b-trust__icon _reviews"></div>
              <ul class="b-trust-reviews">
                <li class="b-trust-reviews__item">
                  <div class="b-trust-reviews__item__text">AMAZING! Especially forbackpackers on a budget</div>
                  <div class="b-trust-reviews__item__src">Tripadvisor.com review</div>
                </li>
                <li class="b-trust-reviews__item">
                  <div class="b-trust-reviews__item__text">The most charismatic and entertaining guides in Europe</div>
                  <div class="b-trust-reviews__item__src">Cosmopolitan Magazine, 2005</div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- Partners list-->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section class="b-page__section">
          <div class="b-partner-list">
            <div class="b-partner-list__heading">Our Partners</div>
            <div class="b-partner-list__items">
              <div class="b-partner-list__item"><img src="img/b-partner-list__item-1.png"/></div>
              <div class="b-partner-list__item"><img src="img/b-partner-list__item-2.png"/></div>
              <div class="b-partner-list__item"><img src="img/b-partner-list__item-3.png"/></div>
            </div>
          </div>
        </section>
      </div>
      <aside class="b-page__sidebar b-sidebar">
        <section class="b-sidebar__section">
          <div class="b-sidebar-tour b-sidebar-tour_primary _active">
            <div class="b-sidebar-tour__wrapper">
              <div class="b-sidebar-tour__toggle"><strong>Free Tour</strong> of Istanbul</div>
              <div class="b-sidebar-tour__info">
                <div class="b-sidebar-tour__heading">Absolutely free</div>
                <div class="b-sidebar-tour__text"><strong>1:00am</strong> &amp; <strong>1:00pm</strong> every day, <br/> see <a href="#">meeting point</a></div>
                <div class="b-sidebar-tour__actions"><a href="#" data-book-form="data-book-form" class="b-sidebar-tour__btn b-sidebar-tour__btn_order btn">Book Now</a><a href="#" class="b-sidebar-tour__btn b-sidebar-tour__btn_more btn">Learn More</a></div>
              </div>
            </div>
          </div>
          <div class="b-sidebar-tour b-sidebar-tour_secondary">
            <div class="b-sidebar-tour__wrapper">
              <div class="b-sidebar-tour__toggle"><strong>Free Tour</strong> of Istanbul</div>
              <div class="b-sidebar-tour__info">
                <div class="b-sidebar-tour__heading">Absolutely free</div>
                <div class="b-sidebar-tour__text"><strong>1:00am</strong> &amp; <strong>1:00pm</strong> every day, <br/> see <a href="#">meeting point</a></div>
                <div class="b-sidebar-tour__actions"><a href="#" data-book-form="data-book-form" class="b-sidebar-tour__btn b-sidebar-tour__btn_order btn">Book Now</a><a href="#" class="b-sidebar-tour__btn b-sidebar-tour__btn_more btn">Learn More</a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="b-sidebar-review b-sidebar__section"><img src="img/b-sidebar-review-1.jpg" class="b-sidebar-review__image"/>
          <div class="b-sidebar-review__heading"><a href="#">Review us on <br/> <strong>TripAdvisor</strong></a></div>
          <p class="text b-sidebar-review__text">
             
            Help spread the word <br/>by reviewing us now, <br/>or check out what <br/>others have said <br/>about us.
          </p>
        </section>
        <section class="b-sidebar-guides b-sidebar__section">
          <div class="b-sidebar-guides__heading">Home of the Famous <br/> <strong class="_bold">Istambul Free Tour</strong> <br/> with some of the <strong class="_medium">best guides</strong> <br/> in the business</div>
          <div class="b-sidebar-guides__items">
            <div class="b-sidebar-guides__item"> <img src="img/b-sidebar-guides__item-1.jpg" class="b-sidebar-guides__item__image image _rounded"/>
              <div class="b-sidebar-guides__item__name">William</div>
            </div>
            <div class="b-sidebar-guides__item"> <img src="img/b-sidebar-guides__item-1.jpg" class="b-sidebar-guides__item__image image _rounded"/>
              <div class="b-sidebar-guides__item__name">William</div>
            </div>
            <div class="b-sidebar-guides__item"> <img src="img/b-sidebar-guides__item-1.jpg" class="b-sidebar-guides__item__image image _rounded"/>
              <div class="b-sidebar-guides__item__name">William</div>
            </div>
          </div>
        </section>
        <section class="b-sidebar-media b-sidebar__section">
          <div class="b-sidebar-media__wrapper">
            <div class="b-sidebar-media__item">
              <div class="b-sidebar-media__item__image"><a href="#"><img src="img/b-sidebar-media__item-1.png"/></a></div>
              <p class="b-sidebar-media__item__text">Watch <strong>our video</strong> to see <br/> what a Free Tour of Istanbul <br/> is all about</p>
            </div>
            <div class="b-sidebar-media__item">
              <div class="b-sidebar-media__item__image"><a href="#"><img src="img/b-sidebar-media__item-2.png"/></a></div>
              <p class="b-sidebar-media__item__text"> New in town? Download <strong>our FREE map</strong> of the city and<br/>find your way to some of the<br/>best spots in town. All of our<br/>start points are clearly labeled<br/>to help you find us.</p>
            </div>
          </div>
        </section>
        <section class="b-sidebar-facebook b-sidebar__section"></section>
      </aside>
    </div>
    <footer class="b-footer">
      <div class="container">
        <div class="b-footer__logo"><img src="img/b-footer__logo.png"/></div>
        <div class="b-footer__col">
          <div class="b-footer__heading"><span>Free Tour</span> <strong>Istanbul</strong></div>
          <p class="b-footer__text">© 2010–2015 Free Tour Instambul GmbH. <br/> All rights reserved</p>
          <p class="b-footer__text b-footer__text_contacts">Milastr. 2, D-10437 Berlin, Germany<br/>Tel: +49 30 510 50030 Fax: +49 30 690 88035</p>
        </div>
        <div class="b-footer__col">
          <div class="b-footer__heading"><span>Director</span> <strong>Chris Sandeman</strong></div>
          <p class="b-footer__text">
             
            Site maintained by SANDEMANs NEW Europe GmbH<br/>Milastrasse 2 D-10437 Berlin Germany 
          </p>
          <p class="b-footer__text b-footer__text_contacts">Tel: +49 30 510 50030<br/>Fax: +49 30 690 88035</p>
        </div>
        <div class="b-footer__col"><a href="#" class="b-footer__link">Privacy Policy</a><a href="#" class="b-footer__link">Legal Statement</a></div>
      </div>
    </footer>
        <div class="b-book-form b-book-form_modal">
          <div class="b-book-form__wrapper">
            <form action="#" class="b-book-form__form">
              <h2 class="b-book-form__heading"><small>Select the start time</small> <br/> free tour of istanbul</h2>
              <div class="b-book-form__time">
                <div class="b-book-form__time__item _checked">
                  <input type="radio" name="time" value="11:00" class="b-book-form__time__radio"/><a href="#" class="b-book-form__time__btn btn btn_secondary">11:00 <sup>am</sup></a>
                </div>
                <div class="b-book-form__time__item">
                  <input type="radio" name="time" value="1:00" class="b-book-form__time__radio"/><a href="#" class="b-book-form__time__btn btn btn_secondary">1:00 <sup>pm</sup></a>
                </div>
              </div>
              <div class="b-book-form__line"> </div>
              <h3 class="b-book-form__heading">Personal info</h3>
              <div class="b-book-form__fields">
                <div class="form-field b-book-form__field">
                  <label class="form-field__label">Name<sup>*</sup></label>
                  <input type="text" class="form-field__input form-input"/>
                </div>
                <div class="form-field b-book-form__field _travelers">
                  <label class="form-field__label">Travelers<sup>*</sup></label>
                  <select class="form-select js-form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="form-field b-book-form__field">
                  <label class="form-field__label">E-mail<sup>*</sup></label>
                  <input type="text" class="form-field__input form-input"/>
                </div>
                <div class="form-field b-book-form__field">
                  <label class="form-field__label">Date<sup>*</sup></label>
                  <input type="text" class="form-field__input form-input"/>
                </div>
              </div>
              <button type="submit" class="btn btn_primary _size_l b-book-form__order-btn">Book now</button>
              <div class="b-book-form__or"><a href="#">Learn more</a></div>
            </form>
          </div>
        </div>
    <!-- === Scripts ============================================================ -->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/jquery.fancybox.pack.js"></script>
    <script src="js/vendor/jquery.formstyler.min.js"></script>
    <script src="js/vendor/jquery.bxslider.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

src/jade/tour-details.jade
extends layouts/default

block content

  // Tour details
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section.b-tour-details
    section.b-photo-slider
      ul.b-photo-slider__slides
        li.b-photo-slider__item: img(src='http://placehold.it/660x380&text=Slide 1').b-photo-slider__item__image
        li.b-photo-slider__item: img(src='http://placehold.it/660x380&text=Slide 2').b-photo-slider__item__image
        li.b-photo-slider__item: img(src='http://placehold.it/660x380&text=Slide 3').b-photo-slider__item__image

    section.b-page__section
      h1.page-heading._size_l: span Free Tour of #[strong Istanbul]

      blockquote.quote Against the backdrop of the ‘New York of Britain’ this is an unmissable insight into the spirit of a city that thas endured terrible depths and enjoyed glorious heights. This 3 hour walking tour brings to life the famous and surprising key moments in Liverpool’s rich past.
      
      .b-tour-share
        .b-tour-share__wrapper
          .b-tour-share__text._1 If you liked the #[br] Free tour of Istanbul
          
          ul.b-tour-share__icon-list
            li.b-tour-share__icon-list__item: a(href='#').b-tour-share__icon._fb
            li.b-tour-share__icon-list__item: a(href='#').b-tour-share__icon._tw
            li.b-tour-share__icon-list__item: a(href='#').b-tour-share__icon._g
            li.b-tour-share__icon-list__item: a(href='#').b-tour-share__icon._in
            li.b-tour-share__icon-list__item: a(href='#').b-tour-share__icon._mail

          .b-tour-share__text._2 tell a friends

          a(href='#' data-book-form).btn.btn_secondary._size_l.b-tour-share__order-btn._bold Book Now
          
          .b-tour-share__note
            a(href='#') You may be eligible for #[br] a special reduction

      p.text Liverpool has played a key role in British and world history for over 800 years. As the main port of the biggest empire in history it has touched the lives of countless people the world over. This has given the city a wealth of great buildings and a legendary friendly and diverse population summed up in the famous nickname ‘The World in One City’.
      p.text From The Beatles and eccentric WWII submarine hunters to Confederate captains and repentant slave traders, Liverpool’s history is full of amazing characters and fascinating stories. The UNESCO World Heritage listed waterfront with its incredible collection of maritime and commercial architecture is enriched with exciting new developments and is home to some of the most popular museums and galleries in the country.

    section.b-page__section.b-tour-map
      h2.page-heading._size_m: span Start point map
      
      p.text 
        | Meet your guide outside St. George’s Hall by the Prince Albert Statue. Just look for the guides in red SANDEMANs NEW 
        | Europe T-shirts and badges!

      img(src='img/b-tour-map__wrapper.jpg').b-tour-map__wrapper

    section.b-page__section
      h2.page-heading._size_m: span How to Get to the meeting point

      p.text 1. Get to the Admiralteyskaya metro station (Purple Line).

      p.text 2. Go to Palace Square (cross the Nevsky Prospect — main Avenue).

      p.text 
        | 3. Find the Alexander Column in the center of the Palace Square (see how it looks). This column devoted to the Emperor 
        | Alexander the I who won the war over Napoleon! The guide will wait for you near this monument. Please choose the side of 
        | the column which faces the Winter Palace.

    section.b-page__section.b-tour-place-list
      h2.page-heading._size_m: span On this 3 hour tour we cover

      - for(var i = 0; i < 2; i++) {
        .b-tour-places__item
          .b-tour-places__item__image
            img(src='img/tour-places/1.png')
          .b-tour-places__item__title Hagia Sophia

        .b-tour-places__item
          .b-tour-places__item__image
            img(src='img/tour-places/2.png')
          .b-tour-places__item__title Haseki Hurrem #[br] Bath

        .b-tour-places__item
          .b-tour-places__item__image
            img(src='img/tour-places/3.png')
          .b-tour-places__item__title Blue Mosque

        .b-tour-places__item
          .b-tour-places__item__image
            img(src='img/tour-places/4.png')
          .b-tour-places__item__title German Fountain

        .b-tour-places__item
          .b-tour-places__item__image
            img(src='img/tour-places/5.png')
          .b-tour-places__item__title German Fountain
      - }

    .b-tour-places__more.page-heading._size_m: span: a(href='#').btn.btn_secondary._size_m and more

  // Book today
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/book-today
    
  // Book form
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    +book-form().b-book-form_section
  
  // Please note
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/please-note

  // Trust
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/trust
    
  // Partners list
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  section.b-page__section
    include partials/partner-list
